body {
    margin: 0;
    padding: 0;

    font-family: 'oswald', sans-serif;
    font-family: 'roboto', sans-serif;
}

/* inicio header */
header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}


/* logo */

.img-logo img {
    display: flex;
    justify-content: center;
    height: 15vh;    
}
/* fin logo */

@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
/* fin animation */

header div {
    display: flex;
    justify-content: center;
}


.items-nav {
    align-items: center;
    border: solid 1px;
}


li {
    list-style-type: none;
    margin: 5px;
    transition: all 1.5s ease-in-out;
}

li:hover {
    transform: scale(1.2);
}


/* nav {
    font-family: 'oswald' sans-serif;
    font-size: 20px;
    font-weight: 200;

    list-style-type: none;
} */

/* fin header */


#about {
    background: linear-gradient(90deg, rgba(30,126,0,1) 0%, rgba(29,253,59,1) 50%, rgba(167,219,60,1) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#todos-los-productos div{
    justify-items: center;
}


h1 {
    font-family: 'oswald' sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'oswald', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

p { 
    font-family: 'roboto' sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

/* inicio footer */


#ul-footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#ul-footer-redes {
    font-family: 'oswald' sans-serif;
    font-size: 20px;
    font-weight: 200;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    transform: translate(-30px);
}

.styles-div-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
