nav {
  font-family: 'oswald' sans-serif;
  font-size: 20px;
  font-weight: 200;
  list-style-type: none; }
  nav ul {
    display: flex;
    flex-flow: column wrap; }

.bg-light {
  background-color: #97ae4c !important; }

.titulos-principales-pages {
  background-color: #a3b861; }

main {
  background-image: url(../multimedia/img/fondobody-abajoizq.jpg);
  background-size: cover;
  background-position: bottom 5px left 5px; }

a {
  color: black;
  text-decoration: none; }

.titulo-de-productos-del-index {
  text-decoration: dotted; }

.color-parrafos-carrousel {
  color: #494949; }

.img-animacion {
  transition: all 1.5s ease-in-out; }
  .img-animacion :hover {
    transform: scale(1.1); }

#footer {
  background: #999999; }

#foto-pages {
  width: 100%; }

.animacion-mates {
  transition: all 1.5s ease-in-out;
  margin: 5px; }
  .animacion-mates :hover {
    transform: scale(1.1); }

/* media queries */
@media only screen and (min-width: 768px) {
  #todos-los-productos {
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    grid-gap: 10px;
    grid-template-areas: "mates termos" "bombillas accesorios" "yerbas none";
    justify-items: center;
    align-items: center; }
  .producto1 {
    grid-area: mates;
    margin: 10px; }
  .producto2 {
    grid-area: termos;
    margin: 10px; }
  .producto3 {
    grid-area: bombillas;
    margin: 10px; }
  .producto4 {
    grid-area: accesorios;
    margin: 10px; }
  .producto5 {
    grid-area: yerbas;
    margin: 10px; }
  .producto6 {
    grid-area: torpedo;
    margin: 10px; }
  .producto7 {
    grid-area: cincelado;
    margin: 10px; }
  .img-logo img {
    display: flex;
    justify-content: center;
    height: 25vh; }
  nav ul {
    display: flex;
    flex-flow: row wrap; }
  #section-grid {
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    grid-template-rows: repeat 4, 1fr;
    grid-gap: 10px;
    grid-template-areas: "articulo1 articulo2" "articulo3 articulo4" "articulo5 articulo6" "articulo7 articulo7";
    justify-items: center;
    align-items: center; }
  #articulo1 {
    grid-area: articulo1;
    margin: 10px; }
  #articulo2 {
    grid-area: articulo2;
    margin: 10px; }
  #articulo3 {
    grid-area: articulo3;
    margin: 10px; }
  #articulo4 {
    grid-area: articulo4;
    margin: 10px; }
  #articulo5 {
    grid-area: articulo5;
    margin: 10px; }
  #articulo6 {
    grid-area: articulo6;
    margin: 10px; }
  #articulo7 {
    grid-area: articulo7;
    margin: 10px; } }

@media only screen and (min-width: 1024px) {
  #ul-footer-nav {
    display: none; }
  #hr-main {
    display: none; }
  .nav ul {
    display: flex;
    flex-flow: row wrap; }
  .img-logo img {
    display: flex;
    justify-content: center;
    height: 30vh; } }

/* fin media queries */
