nav {
    font-family: 'oswald' sans-serif;
    font-size: 20px;
    font-weight: 200;

    list-style-type: none;
    ul {
    display: flex;
    flex-flow: column wrap;
    }
}

@import "main";
@import "footer";
@import "mates";